@using Microsoft.AspNetCore.Identity
@using InternLink.Data

@inject NavigationManager NavigationManager
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<nav class="navbar justify-between bg-gray-200">
    <div>
        <NavLink class="btn btn-ghost text-lg" href="">
            <img alt="Logo" src="Images/Logo.png" width="100px"/>
        </NavLink>

        <NavLink href="/swipe" class="btn btn-ghost btn-sm">
            Swipe
        </NavLink>

        <NavLink class="btn btn-ghost btn-sm">
            Companies
        </NavLink>
    </div>

    <div class="hidden sm:flex gap-2">
        <AuthorizeView>
            <Authorized>
                <!-- Dropdown menu -->
                <div class="dropdown dropdown-end">
                    
                    <div tabindex="0" role="button" class="btn btn-ghost btn-sm">
                        <i class="fa-solid fa-bars fa-xl"></i>
                    </div>

                    <ul tabindex="0" class="dropdown-content menu z-[1] bg-base-200 p-6 rounded-box shadow w-56 gap-2">
                        <span>@context.User.Identity?.Name</span>
                        <li>
                            <AuthorizeView Roles="Company" Context="CompanyContext">
                                <NavLink href="company/">View Profile</NavLink>
                            </AuthorizeView>
                            <AuthorizeView Roles="Student" Context="StudentContext">
                                <NavLink href="@($"student?id={UserManager.GetUserId(HttpContextAccessor.HttpContext.User)}")">View Profile</NavLink>
                            </AuthorizeView>
                        </li>
                        <li>
                            <NavLink href="Account/Manage">Settings</NavLink>
                        </li>
                        <AuthorizeView Roles="Company" Context="CompanyContext">
                            <li>
                                <NavLink href="Internships">My internships</NavLink>
                            </li>
                        </AuthorizeView>
                        <li>
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken/>
                                <input type="hidden" name="ReturnUrl" value=""/>
                                <button type="submit">
                                    Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>

            </Authorized>
            <NotAuthorized>
                <NavLink href="Account/Login" class="btn btn-sm">
                    Login
                </NavLink>
                <NavLink href="Account/Register" class="btn btn-primary btn-sm">
                    Sign-up
                </NavLink>
            </NotAuthorized>
            
        </AuthorizeView>
    </div>
</nav>
