@page "/Account/ForgotPasswordConfirmation"
@using Microsoft.AspNetCore.Components.Sections

<PageTitle>Forgot password confirmation</PageTitle>


<SectionContent SectionName="Title">Forgot password confirmation</SectionContent>

<p role="alert">
    Please check your email to reset your password.
</p>