@page "/Account/InvalidPasswordReset"
@using Microsoft.AspNetCore.Components.Sections

<PageTitle>Invalid password reset</PageTitle>

<SectionContent SectionName="Title">Invalid password reset</SectionContent>

<p role="alert">
    The password reset link is invalid.
</p>