@layout Layout.MainLayout
@using InternLink.Data
@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
<div class="flex h-screen">
    <!-- Sidebar -->
    <div id="sidebar" class="w-64 bg-white shadow-md h-full flex flex-col transition-transform">
        @* <button id="toggle-btn" class="p-3 text-gray-600 hover:text-gray-900"> *@
        @*     <i class="fas fa-bars"></i> *@
        @* </button> *@

        <ul class="menu p-4 space-y-2">
            <li class="menu-title">
                <span>Navigation</span>
            </li>

            <li>
                <NavLink href="/incoming" class="flex items-center space-x-3">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span>Recieved Swipes</span>
                </NavLink>
            </li>
            <li>
                <NavLink href="/studentmatches" class="flex items-center space-x-3">
                    <i class="fa-solid fa-user-group"></i>
                    <span>Matches</span>
                </NavLink>
            </li>
            <li>
                <NavLink href="/internships" class="flex items-center space-x-3">
                    <i class="fas fa-briefcase"></i>
                    <span>Manage Internships</span>
                </NavLink>
            </li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="flex-1 flex flex-col bg-gray-100">
        @Body
    </div>
</div>