@page "/Account"

<PageTitle>Account Settings</PageTitle>

<h3>Account</h3>
<label class="form-control w-full max-w-xs">
    <h1>Account</h1>
    <h2>Change password</h2>
    <div class="label">
        <span class="label-text">Re-enter New password</span>
    </div>
    <input type="text" placeholder="Re-enter your new password" class="input input-bordered w-full max-w-xs" />

    <div class="label">
        <span class="label-text">New password</span>
    </div>
    <input type="text" placeholder="Enter your new password" class="input input-bordered w-full max-w-xs" />

    <button class="btn btn-active btn-neutral">change profile</button>
</label>
@code {
    
}